.resources-page {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #475569 transparent;
    scrollbar-gutter: stable;
}
.resources-page::-webkit-scrollbar {
    width: 8px;
}

.graphs-container {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.graph-card {
    background-color: #1e293b;
    border: 1px solid #334155;
    border-radius: 16px; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 
                0 4px 6px -2px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;
    overflow: hidden; 
}


.graph-title {
    background-color: #0f172a; 
    border-bottom: 1px solid #334155;
    
    color: #f1f5f9;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    margin: 0;
    padding: 1rem 1.5rem;
    
    display: flex;
    align-items: center;
}
.graph-title::before {
    content: "";
    display: block;
    width: 4px;
    height: 1rem;
    background-color: #3b82f6;
    margin-right: 12px;
    border-radius: 2px;
}
.graph {
    padding: 1rem 1rem 0.5rem 0;
}