body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}


.files-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.files-card {
    width: 33%;
    height: 55%;
    max-width: 800px;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 16px;
}



.list-title {
    display: flex;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    text-decoration-thickness: 1.5px;
}
.files-list {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}


.file-line, .file-list {
    margin: 0;
    list-style: none;
    padding: 0;

}

.file-row:hover {
    background-color: gainsboro;
}




.file-row-loading {
    height: 1.5rem;
    display: flex;
    border: 1px solid black;
    border-radius: 16px;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;
}
.file-row-loading-text {
    border-radius: 16px;
    background-color: rgb(215, 215, 215);
    height: 100%;
    width: 30%;
}