body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

.files-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.files-card {
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 55%;
    max-width: 800px;
    padding: 2rem;
    border: 1px solid black;
    border-radius: 16px;
}
.list-title {
    display: flex;
    text-decoration: underline;
    text-underline-offset: 0.6rem;
    text-decoration-thickness: 1.5px;
    margin: 0;
}
.files-list {
    display: flex;
    flex-direction: column;
    /* margin-top: 1.5rem; */
    height: 100%;
    overflow-y: auto;
}




.file-item, .file-list {
    margin: 0;
    padding: 0;

}

.error-message {
    display: flex;
    font-weight: bold;
    margin-top: 1rem;
    height: 100%;
}





.file-item:hover {
    background-color: gainsboro;
}