
.login-page {
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #1e293b; 
    border: 1px solid #334155; 
    border-radius: 16px;
    padding: 2.5rem;
    
    width: 100%;
    max-width: 500px; 
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5); 
    
    display: flex;
    flex-direction: column;
}


.login-title {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 0.025em;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}


.form-row {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-row label {
    color: #94a3b8;
    font-size: 0.9rem;
    font-weight: 500;
}


.form-row input {
    background-color: #0f172a;
    border: 1px solid #334155;
    
    padding: 12px 16px;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: all 0.2s ease;
}

.form-row input:focus {
    border-color: #3b82f6; 
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}


.login-button {
    margin-top: 1rem;
    background-color: #3b82f6;
    color: white;
    
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

.login-button:hover:not(:disabled) {
    background-color: #2563eb;
}

.login-button:disabled {
    background-color: #112d6c;
    color: #64748b;
    cursor: not-allowed;
    opacity: 0.7;
}

/* --- KOMUNIKATY BŁĘDÓW --- */
.form-error {
    color: #ef4444; /* Czerwony (Tailwind red-500) */
    font-size: 0.85rem;
    font-weight: 500;
    
    display: flex;
    align-items: center;
    gap: 8px;
    
    padding: 8px 12px;
    background-color: rgba(239, 68, 68, 0.1); /* Lekko czerwone tło */
    border: 1px solid rgba(239, 68, 68, 0.2);
    border-radius: 6px;
    margin-top: -0.5rem; /* Przybliż do inputa, którego dotyczy */
}

.form-error i {
    font-size: 0.8rem;
}