.settings-navbar {
    background-color: #1e293b; 
    border: 1px solid #334155;
    border-top: none;
    border-radius: 0 0 12px 12px;
    padding: 0 2rem;
    height: 4rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    margin: 0 auto
}

.settings-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 2rem;
    height: 100%;
}

.settings-navbar li {
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}


.settings-navbar a {
    text-decoration: none;
    color: #94a3b8;
    font-weight: 500;
    transition: color 0.2s;
    height: 100%; 
    display: flex;
    align-items: center;
}

.settings-navbar a:hover {
    color: #f1f5f9;
}

.settings-navbar li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #3b82f6; 
    transform: scaleX(0); 
    transition: transform 0.2s ease;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.settings-navbar li:hover::after {
    transform: scaleX(1);
}