.settings-wrapper {
    display: flex;
    flex-direction: column;
    
    width: 100vw;
    height: 100vh;
}

.settings-content {
    flex: 1; 
    overflow-y: auto;
    padding: 2rem;
    
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}