.loading-screen-wrapper {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-screen {
    font-size: 4rem;
    font-weight: 500;
    color: #3b82f6;
    

    animation: pulse 2s ease-in-out infinite alternate;
}

.loading-spinner {
    border: calc(1rem / 5) solid transparent;
    border-top-color: #3b82f6;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;

    animation: loading 2s ease infinite;
}

@keyframes pulse {
    from {
        text-shadow: none;
    }
    to {
        text-shadow: 15px 0 15px rgba(59, 130, 246, 0.5), -15px 0 15px rgba(59, 130, 246, 0.5);
        /* text-shadow: 15px 0 15px red, -15px 0 15px red; */
    }
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    } 
    
    to {
        transform: rotate(1turn);
    }
}