
.loading-spinner {
    width: 5rem;
    height: 5rem;
    border: calc(5rem / 4) solid #dddddd;
    border-top-color: black;
    border-radius: 50%;
    box-sizing: border-box;

    animation: loading 1s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    } 
    
    to {
        transform: rotate(1turn);
    }
}