
.loading-spinner {
    border: calc(1rem / 5) solid transparent;
    border-top-color: #3b82f6;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;

    animation: loading 2s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0deg);
    } 
    
    to {
        transform: rotate(1turn);
    }
}